.notifire-frame {
    position: fixed;
    width: 0;
    top: 60px;
    left: 0;
    color: white;
}

.notifire {
    cursor: pointer;
    overflow: hidden;
    border-radius: 3px;
    z-index: 9999;
    margin-bottom: 5px;
    text-align: center;
    font-size: 1em;
    display: table;
}

.notifire span::before {
    font-family: FontAwesome;
    font-size: 2em;
    content: "\f058  ";
    color: #29AA81;
    padding: 0 10px;
}

.notifire span {
    display: table-cell;
    vertical-align: middle;
}


/* built in color scheme */

.success {
    background-color: #5cb85c;
}

.info {
    background-color: #5bc0de;
}

.warning {
    background-color: #f0ad4e;
}

.danger {
    background-color: #d9534f;
}

.default {
    background-color: #1c1c1c;
    opacity: 0.9;
    color: white!important;
}
