#logo {
    height: 34px;
    display: block;
    padding: 10px 40px 8px 10px;
}
a img {
    border: none;
}

.header .left a.nav {
    margin-right: 22px;
}
.header .left a {
    display: inline-block;
    float: left;
}
a.nav {
    margin-right: 20px;
    margin-top: 16px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #777;
}
a.nav, a.nav i {
    display: inline-block;
}
.button, a.nav {
    letter-spacing: .7px;
}

.toggle-nav {
    margin: 10px 10px 0 15px;
    display: none;
}

.header .left, .sections, .toggle-nav {
    float: left;
}

.header {
    background: #f7f7f7;
    zoom: 1;
    height: 52px;
    border-bottom: solid 1px #dfe2e7;
    top: 0;
    right: 0;
    z-index: 200;
}
.dropdown-menu, .header {
    position: absolute;
    left: 0;
}

.dropdown.mobile-only {
    display: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}

@media (min-width: 768px)
.menubar.fixed {
    -webkit-overflow-scrolling: touch;
}
@media (min-width: 768px)
.menubar.fixed {
    position: fixed;
    overflow-y: auto;
}
.menubar {
    font-size: 0.9em;
}
@media (min-width: 768px)
.menubar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 230px;
    border-right: solid 1px #dfe2e7;
}
.menubar {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.search {
    display: inline-block;
    width: 290px;
    position: relative;
    border-left: 1px solid #c7c7c7;
    margin-top: 10px;
    vertical-align: top;
    padding-left: 22px;
}

.search .search-input-wrapper {
    position: relative;
}

.search i.fa-search {
    position: absolute;
    top: 9px;
    left: 9px;
    color: #c7c7c7;
}
i {
    line-height: 1;
}
* {
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
}
user agent stylesheet
i, cite, em, var, address, dfn {
    font-style: italic;
}

a, button, input, li, p, span, ul {
    font-family: 'Booster FY',proxima-nova,"Helvetica Neue",helvetica,arial,sans-serif;
}
body, input, td, textarea {
    line-height: 1.6;
    font-size: 14px;
    color: #505050;
}

ul.in-page-toc.show {
    display: block;
}
.reference ul.in-page-toc, ul.in-page-toc.hide {
    display: none;
}
ul.in-page-toc {
    margin: 5px 0 10px 10px;
}
a, button, input, li, p, span, ul {
    font-family: 'Booster FY',proxima-nova,"Helvetica Neue",helvetica,arial,sans-serif;
}

.search input {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-highlight-color: none;
    border-radius: 4px;
    border: 1px solid #c7c7c7;
    height: 29px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding: 0 15px 0 25px;
    width: 250px;
    transition: border .2s;
    -webkit-transition: border .2s;
    -moz-transition: border .2s;
    -ms-transition: border .2s;
    -o-transition: border .2s;
}

.menubar li a, .menubar li a:visited {
    font-size: 14px;
    font-weight: 400;
    color: #777;
    margin: 2px 0;
}

.menu a, .menu a:visited, a:hover {
    color: #009cde;
}
