$enable-grid-classes:false;


//digital brand colours
$darkblue: #001e62;
$darksky: #007CBE;
$sky: #009CDE;
$lightsky: #CBDBEF;
$bluewhite: #EDF3FA;

// Changing the theme colours
$primary: $darkblue;
$secondary: $darksky;
$success: $darkblue;
$info: $lightsky;
$warning: $secondary;
$danger: #CB4E0A;
$light: $bluewhite;
$dark: #626262 !default;

// Changing the body background and text
//$body-bg: #bluewhite;
$body-color: $darkblue;

$font-family-sans-serif:      "Booster Next FY", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";