@charset "utf-8";
// @import "../node_modules/bulma/bulma.sass";

@font-face {font-family: 'BoosterNextFY-Regular';src: url('../webfonts/39C314_0_0.eot');src: url('../webfonts/39C314_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/39C314_0_0.woff2') format('woff2'),url('../webfonts/39C314_0_0.woff') format('woff'),url('../webfonts/39C314_0_0.ttf') format('truetype');}
@font-face {font-family: 'BoosterNextFY-Light';src: url('../webfonts/39C314_1_0.eot');src: url('../webfonts/39C314_1_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/39C314_1_0.woff2') format('woff2'),url('../webfonts/39C314_1_0.woff') format('woff'),url('../webfonts/39C314_1_0.ttf') format('truetype');}
@font-face {font-family: 'BoosterNextFY-Bold';src: url('../webfonts/39C314_2_0.eot');src: url('../webfonts/39C314_2_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/39C314_2_0.woff2') format('woff2'),url('../webfonts/39C314_2_0.woff') format('woff'),url('../webfonts/39C314_2_0.ttf') format('truetype');}

// back up font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,500,700');

// Set your brand colors
$darkblue: #001e62;
$darksky: #007CBE;
$skyblue: #009CDE;
$lightsky: #CBDBEF;
$bluewhite: #EDF3FA;

$grey: #54575A;
$blue: $darksky;


$success: #1FC3B0;
$danger: #EB4841;



// Update Bulma's global variables
$family-sans-serif: "BoosterNextFY-Regular", Helvetica, sans-serif;
$grey-dark: $grey;
$grey-light: $bluewhite;

$primary: $darkblue;
$info: $skyblue;
$link: $darksky;
$text: $primary;

$widescreen-enabled: true;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $bluewhite;
$title: $primary;

// Grid
$column-gap: 1rem;

//Text
$size-1: 3rem;
$size-2: 2rem;
$size-3: 1.5rem;
$size-4: 1.125rem;
$size-5: 1rem;
$size-6: 0.875rem;

$size-small: $size-6;
$size-normal: $size-5;
$size-medium: $size-4;

// Titles
$title-color: $primary;
$title-size: $size-6;
$title-weight: 500;

$subtitle-color: $primary;
$subtitle-size: $size-3;

// Tag
$tag-radius: 2px;

// Navbar
// $navbar-height: 6rem;

$navbar-item-color: $primary;
$navbar-item-hover-color: $info;
// $navbar-item-hover-background-color: $white-bis
// $navbar-item-active-color: $black
$navbar-item-img-max-height: 2rem;

//Forms
$control-border-width: 1px;
$input-border-color: $lightsky;
$input-shadow: none;

//Cards
$card-content-padding: 1rem;
$card-header-color: $primary;

// $box-radius: $radius-small;
$box-padding: 1rem;

// Breadcrumb
$breadcrumb-item-separator-color: $primary;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/panel.sass";
@import "../node_modules/bulma/sass/layout/section.sass";

// Extensions
@import "../node_modules/bulma-timeline/dist/css/bulma-timeline.sass";
