.py {
  padding: 20px 0;
}

.pb {
  padding-bottom: 20px;
}

.content-wrapper {
  padding-top: 60px;
}

.profile-header {
  background-image: url(../images/grass.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: repeat-x;
  height: 240px;
  background-color: white;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
}

#logo {
  height: 34px;
  display: block;
  padding: 10px 40px 8px 20px
}

.header .left a {
  display: inline-block;
  float: left
}

.header .left a.nav {
  margin-right: 22px
}
